<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div  class="container-fluid">
        <div data-css="container_one" class="row justify-content-md-center">
            <div class="col">
                
            </div>
            <div class="col">
                
                <h1 data-css="h1_one" class="fw-lighter">Lousa de desenho</h1>
            </div>
            <div class="col">
                <i class="bi bi-list"></i>
      
            </div>
        
        </div>
      </div>
        
    <canvas id="canvasContainer">
        <div data-css="container_two"  class="container-fluid">
            <div data-css="container_two_div_one">
            </div>
        </div>
    </canvas>
    <div style="padding: 0; height: 14vh;"class="container-fluid d-flex flex-row justify-content-center align-items-center fixed-bottom">
        <button data-css="button" type="reset" class="btn btn-success">Limpar Tela</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="../js/canvas.js"></script>

</html>